@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2f80ed;
  --secondary-color: #828282;
  --dark-color: #000000;
  --light-color: #ffffff;
  --muted-color: #dadada;
  --success-color: #27ae60;
  --danger-color: #c92833;
  --background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", serif;
}
