.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 50px;
  background: var(--light-color);
  z-index: 1000;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
}

.menu-icon {
  display: none;
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile-username {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.profile-position {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px 0 24px;
  }

  .menu-icon {
    display: block;
    width: 20px;
    margin-left: 20px;
    cursor: pointer;
  }

  .header-logo {
    font-size: 17px;
  }

  .profile-username {
    font-size: 12px;
  }
}
